@font-face {
    font-family: Montserrat;
    src: url(fonts/Montserrat-Regular.ttf);
  }

  @font-face {
    font-family: Virtual;
    src: url(fonts/Virtual-Regular.ttf);
  }

body{
    background-image: url(images/Projekt\ bez\ nazwy.png);
    background-size: cover;
    min-height: 100vh;
    width:100%;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
}

  .date {
    display: flex;
    justify-content: space-evenly;
    top: 40%;
    left: 50%;
    position:absolute;
    transform: translate(-50%, -50%);
    opacity: 70%;

  }

  .number{
    display: block;
    font-family: 'Montserrat', sans-serif;
    font-size: 200px;
    text-align: center;
    color: black;
    background-color: RGBA(255,255,255,0.5);
    border-radius: 10px;
    width: 224px;
    padding: 35px;
    margin: 20px;
  }

 
  .lang-menu{
    display: flex;
    flex-direction: row;
    align-items: center;
    bottom: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
    justify-content: center;
    position: absolute;

  }

  .lang-menu a {
    text-decoration: none;
  }
  
  .lang{
    font-size: 30px;    
    width: 200px;
    font-family: 'Montserrat', sans-serif;
    display: block;
    margin: 20px;
    opacity: 70%;
    letter-spacing: 0px;
    background-color: RGBA(255,255,255,0.5);
    border-color: RGBA(0,0,0,0.4);
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
    position: relative;
    -webkit-transition: all 0.4s cubic-bezier(0.455, 0.03, 0.515, 0.955);
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
 
  }

  .lang:hover{
    cursor: pointer;
    background-color: RGBA(220,220,220,0.5);
    position: relative;
 
  }



  @media (max-width: 1100px) {
    body {
        background-size: cover;
        min-height: 120vh;

      }

    .date {
        display: flex;
        justify-content: space-evenly;
        top: 40%;
        left: 50%;
        position:absolute;
        transform: translate(-50%, -50%);
        opacity: 70%;
    }

    .number{
    font-size: 60px;
    width: 80px;
    padding: 5px;
    margin: 10px;
    }

    .lang-menu{
        display: flex;
        flex-direction: column;
        align-items: center;
        bottom: 20%;
        left: 50%;
        transform: translate(-50%, -50%);
        justify-content: center;
        position: absolute;
        
      }
    
      .lang{
        font-size: 22px;    
        width: 150px;
        font-family: 'Montserrat', sans-serif;
        display: block;
        margin: 20px;
        opacity: 70%;
        padding: 5px;
        letter-spacing: 0px;
        background-color: RGBA(255,255,255,0.5);
        border-color: RGBA(0,0,0,0.4);
        border-radius: 5px;
        text-align: center;
        cursor: pointer;
        position: relative;
        -webkit-transition: all 0.4s cubic-bezier(0.455, 0.03, 0.515, 0.955);
        transition: cubic-bezier(0.455, 0.03, 0.515, 0.955);
  }
    .lang:hover{
    cursor: pointer;
    background-color: RGBA(220,220,220,0.5);
    position: relative;
     }
 
    }

  @media (max-width: 844px) {
    body {
      background-size: cover;
      height: 100vh;
      margin: 0;
    }

  }